@font-face {
    font-family: "VCR OSD Mono";
    src: url("./fonts/VCROSDMono.ttf");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "VCR OSD Mono";
}

a {
    text-decoration: none !important;
    color: white;
}

h2 {
    font-weight: normal;
}

.center {
    margin: 50px auto;
    width: fit-content;
    text-align: center;
}

.title {
    width: 600px;
    cursor: pointer;
}

.moon {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    width: 400px;
    height: 324px;
}

.main {
    min-height: 600px;
    max-height: 100%;
}

#aboutbutton img {
    width: 300px;
    cursor: pointer;
}

#aboutbutton {
    position: relative;
    top: -200px;
    left: -200px;
}

.topgif {
    width: 300px;
}

p {
    font-size: large;
    text-align: left;
    width: 400px;
}

.socials {
    font-size: large;
    transition: 0.3s;
    background-color: white;
    padding: 15px;
    color: black;
}

.socials:hover {
    background-color: #4caaab;
}

.black {
    background-color: black;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 50px;
}

.items .video {
    background-color: #000000AA;
    width: 100%;
    border: none;
    align-self: center;
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.items .image {
    background-color: #000000AA;
    width: 100%;
    border: none;
    align-self: center;
    height: 450px;
    width: 450px;
    object-fit: cover;
    transition: 0.15s;
}